
{% load staticfiles %}
<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">

  <title>Sixerr App</title>
  <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">

  </head>

  <body>

    <div>
      Header
      <p>
        Hello {{ user.username }}
      </p>
      <a href="{% url 'social:begin' 'github'%}?next{{request.path}}">Login</a>
      <a href="{% url 'auth:logout'%}?next{{request.path}}">Logout</a>
    </div>

    <hr>
    {% block   page %}
    {% endblock %}


    <div>
      Footer
    </div>
  </body>
</html>
