{% extends 'base.html' %}
{% load staticfiles %}


{% block page %}

  <div class="row">
    <div class="col-md-8">


<div class="card">
  <div class="card-block">
    <div class="card-header">
            <h3 class="card-title">{{gig.title}}

            </h3>

          <hr>

          <div class="text-center">
          <img src="/media/{{gig.photo}}" class="img-responsive" height="150" width="150">
          </div>

    <h4 class="card-title">About this Gig</h4>
        <p class="card-title">{{ gig.description }}</p>


</div>
</div>
</div>

        <div class="card-header">
        <h4>Review</h4>

        {% if show_post_review %}
          <div class="card-block">
            <form method="POST">
              {% csrf_token %}
              <div class="form-group">
                <textarea name="content" class="form-control">

                </textarea>
              </div>
              <div class="form-group">
                <button type="submit" class:'btn btn-success'>Post</button>
              </div>
            </form>
          </div>

        {% endif %}
        <ul class="list-group">
        {% for review in reviews %}

          <li class="list-group-item">
            <div class="row">
              <div class="col-md-12">
                <img src="{{ review.user.profile.avatar }}" class="rounded-circle center-block" height='60' width='60'>
              </div>

              <div class="col-md-10">
                <h5>{{ review.user.username}}</h5>

                <p> {{ review.content }}</p>

            </div>
              </div>
          </li>
        {% endfor %}
      </ul>

</div>

</div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-block">


        {% if user and not user.is_anonymous %}
        <form method="POST" action="/checkout/">
          {% csrf_token %}
          <div id="payment-form">
          </div>
          <input name="gig_id" value="{{ gig.id }}" hidden>
          <button type="submit" class="btn btn-success btn-block"> Order Now ${{gig.price}}</button>
        </form>


        <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
        <script>
          $(document).ready(function() {
            braintree.setup("{{ client_token }}", "dropin", {
              container: 'payment-form',
              paypal: {
                singleUse: true,
                amount: "{{ gig.price }}",
                curreny: 'USD'
              }
            })
          })
        </script>



        {% else %}
          <h5>You need to login in order to purchase this gig!</h5>
        {% endif %}
      </div>
    </div>
    <div class="card">
      <div class="card-block">

      <button type="button" class="btn btn-success btn-block">Order Now(${{ gig.price }})</button>

    </div>

    </div>
        <div class="card">

          <div class="card-block">



        <div class="text-center">
        <img src=  {% if gig.user.profile.avatar %} "{{ gig.user.profile.avatar }}" {% else %} "{% static 'img/avatar.png' %}" {% endif %} class="img-circle text-center" height="100" width="100">
        </div>
              <a href="{% url 'profile' gig.user.username %}">
              <h4 class="text-center">

                {{gig.user.username}}

              </h4>

      </a>

      <h5>Rating</h5>


        <hr>
        <p class="text-center">{{ gig.user.profile.about }}</p>


      </div>
    </div>

</div>


{% endblock %}
