{% extends 'base.html' %}


{% load staticfiles %}

{% block page %}

<link rel="stylesheet" href="{% static 'css/app.css' %}">

  <div class="row">
    <div class="col-md-12">
      <img src="{% static 'img/banner.gif'%}" class="banner">
    </div>



  {% for gig in gigs %}


    <div class="card" style="width: 18rem;" id="card-style">
  <img class="card-img-top" src="/media/{{ gig.photo}}" alt="Card image cap">


  <div class="card-body">
    <h5 class="card-title"><a href="{% url 'gig_detail' gig.id %}">{{gig.title}}</a></h5>
    <p class="card-text">by <a href=""> {{ gig.user.username }} </a><b class="green pull-right">${{ gig.price }}</b></p>
    <a href="{% url 'gig_detail' gig.id %}" class="btn btn-primary">Learn more</a>
  </div>
  </div>

  {% endfor %}


  {% endblock %}
</div>
