{% extends 'base.html' %}

{% load staticfiles %}



{% block page %}

  {% if request.user == profile.user %}
  <form method="POST">
    {% csrf_token %}
    <div class="jumbotron text-center" id="jumbo">
      <h1><b>{{profile.user.username}}</b></h1>
      <input type="text" class="form-contorl" name="slogan" value="{{profile.slogan}}">
    </div>

    <div class="card">
      <div class="card-block">
        <img src="{profile.avatar}" alt="" class="img-circle" height="120" width="120">
        <h3 class="text-uppercase"><b>About {{ profile.user.username }}</b></h3>
        <hr>
        <p>{{ profile.about   }}</p>
        <input type="text" class="form-control" name="about" value="{{profile.about}}">
        <br>
        <button class='btn btn-success' type="submit">Update Slogan</button>
      </div>
    </div>
  </form>

  {% else %}




  <h1>Profile Page</h1>
  <div class="jumbotron text-center" id="jumbo">
    <h1><b>{{profile.user.username}}</b></h1>
    <p>{{profile.slogan}}</p>

  </div>

  <div class="card">
    <div class="card-block">
      <img src="{{profile.avatar}}" class="img-circle" height="120" width="120">
      <h3 class="text-uppercase"><b>About {{profile.user.username}}</b></h3>
      <hr>
      {{profile.about}}

    </div>
  </div>

  <h3 class="text-uppercase" style="margin-top:50px"><b>{{profile.user.username}}' gigs:</b></h3>
  <div class="row">
    {% for gig in gigs %}

      <div class="col-md-3">
        <div class="card">
          <a href="{% url 'gig_detail' gig.id %}"><img src="/media/{{gig.photo }}"></a>
          <div class="card-block">
            <p><a href="{% url 'gig_detail' gig.id %}">{{gig.description}}</a></p>
            <p><span>
              <a href="{% url 'profile' gig.user.username %}">{{gig.user.username}}</a>
            </span></p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  {% endif %}



{% endblock %}
